* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  --twitter-blue: #1da1f2;
  --border-color: #2c2b2b;
  --bg-color: #181818;
}

body, input, textarea, button {
  font: 400 1rem Roboto, sans-serif; 
}

body {
  background: #000000;  
  color: #e1e1e6;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer
}

a {
  color: inherit
}

/** Page: Timeline **/

.layout {
  margin: 0 auto;
  max-width: 1000px;
  
  display: grid;
  grid-template-columns: 300px 1fr;
}
.content {
  border-left: 1px solid  var(--border-color);
  border-right: 1px solid var(--border-color);
}

